<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/add73f3a8e.js" crossorigin="anonymous"></script>
    <title>LOGIN</title>
</head>
<body>
    <div class="login_overall_contain">

        <div class="login_left_contain">
            <h1 class="login_left_text1">LOGIN</h1>
            <p class="login_left_text2">login your account with proper details...</p>

           

            <div class="login_left_inner_contain1">
                <form action="/login" method="post">

                <div class="login_left_inner_contain_email">
                    <i class="fas fa-envelope-open"></i>
                    <input type="email" placeholder="E-mail" class="email_input_field" name="email" id="email" >

                </div>
                <div class="login_left_inner_contain_password">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" class="password_input_field" name="password" id="password">

                </div>

                <button class="login_btn" type="submit">Login</button>

            </form>

            </div>
        
           
                <!-- <p class="login_left_text3">Don't have account? <a href="http://localhost:8000/register" class="login_left_text4">Register Here</a></p> -->
            

        </div>

        <div class="login_right_contain">
            <h1 class="login_right_text">WELCOME BACK!</h1>
            <div class="login_right_inner_contain">
                <p class="login_right_inner_contain_text">Thank's to came back <br> our site we hope it's really  <br>helpfull to short you website without any problems...</p>
            </div>
        </div>

    </div>
    <!-- <a href='http://localhost:8000/short'>jgkjfgh</a> -->
</body>
</html>