<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://kit.fontawesome.com/add73f3a8e.js" crossorigin="anonymous"></script>
    <title>REGISTER</title>
</head>
<body>
    <div class="reg_overall_contain">

        <div class="reg_left_contain">
            <h1 class="reg_left_text1">REGISTER</h1>
            <p class="reg_left_text2">Create your account with proper details...</p>

            <div class="reg_left_inner_contain1">
                <form action="/register" method="post">

                <div class="reg_left_inner_contain_user">
                    <i class="fas fa-user"></i>
                    <input type="name" placeholder="User-name" class="name_input_field" name="username" id="username">

                </div>

                <div class="reg_left_inner_contain_email">
                    <i class="fas fa-envelope-open"></i>
                    <input type="email" placeholder="E-mail" class="email_input_field" name="email" id="email">

                </div>
                <div class="reg_left_inner_contain_password">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" class="password_input_field" name="password" id="password">

                </div>

           

                <button class="reg_btn" type="submit">Register</button>
            </form>

            </div>
           
                <!-- <p class="reg_left_text3">Do you have account? <a href="http://localhost:8000" class="reg_left_text4">Login Here</a></p> -->
            

        </div>

        <div class="reg_right_contain">
            <h1 class="reg_right_text">WELCOME SHORT URL!</h1>
            <div class="reg_right_inner_contain">
                <p class="reg_right_inner_contain_text">Thank's to came <br> our site we hope it's really  <br>helpfull to short you website without any problems...</p>
            </div>
        </div>

    </div>
</body>
</html>